@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}